.sidebar {
    border-top: 0.1rem solid rgb(82, 38, 83);
    grid-column: 1 / 2;
    height: 100vh;
    background-color: #3f0e40;
    display: grid;
    grid-template-columns: 4rem minmax(6.25rem, 16.25rem);
}
@media (max-width: 806px) {
.sidebar {
    grid-template-columns: minmax(6.25rem, 16.25rem);
    }
}
@media (max-width: 724px) {
.sidebar {
    display: none;
    }
}